@import '../../styles/variables';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  width: 100%;
  .title {
    font-family: 'Press Start 2P';
    color: $blueLight;
  }
}
