@import '../../../styles/variables';

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: $hiddenCell;
  border: none;
  cursor: default;
  &.one {
    color: $colorOne;
  }
  &.two {
    color: $colorTwo;
  }
  &.three {
    color: $colorThree;
  }
  &.four {
    color: $colorFour;
  }
  &.five {
    color: $colorFive;
  }
}
